@{
    ViewBag.Title = "Home Page";
}
    <body>
        <style>
            body {
                background: #7aeef9;
            }
        </style>

        <h1>Task manager</h1>
        <h3>Service for task assignment and tracking</h3>
    </body>

